<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MetaCommunity | {% block title %}{% endblock %}</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./css/uikit.min.css" />
    <link rel="stylesheet" href="./css/main.css" />

    {% block extra_css %}
    {% endblock %}

  </head>
  <body>

    {% block menu %}
    <nav class="uk-navbar">
        <div class="uk-container uk-container-center">
          <a href="" class="uk-navbar-brand">< META /></a>
          <div class="uk-navbar-flip">
              <ul class="uk-navbar-nav">
                  <li><a href="">...</a></li>
              </ul>
          </div>
        </div>
    </nav>

    {% endblock %}



    {% block content %}

    {% endblock %}

    {% block footer %}

    {% endblock %}

    <script src="./js/uikit.min.js"></script>
  </body>

</html>
