{% extends "views/base.html" %}

{% block title %}Contactanos{% endblock %}

{% block content %}

<div class="speakers-header">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1 uk-text-center">
        <h1>Contactanos</h1>
      </div>
    </div>
  </div>
</div>
<div class="contact">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1">
          <h2>Comunicate con nosotros</h2>
      </div>
      <div class="uk-width-medium-1-2">
          <form action="" class="uk-form">
            <div class="uk-form-row">
              <div class="uk-form-controls">
                <input type="text" id="" placeholder="Nombre" class="uk-width-1-1 uk-form-large">
              </div>
            </div>
            <div class="uk-form-row">
              <div class="uk-form-controls">
                <input type="email" id="" placeholder="Email" class="uk-width-1-1 uk-form-large">
              </div>
            </div>
            <div class="uk-form-row">
              <div class="uk-form-controls">
                <textarea placeholder="Mensaje" class="uk-width-1-1 uk-form-large"></textarea>
              </div>
            </div>
            <div class="uk-form-row">
              <div class="uk-form-controls">
                <button type="submit" class="uk-button btn-blue">Enviar</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
