{% extends "views/base.html" %}
{% block extra_css %}
  <script src="https://donorbox.org/widget.js" type="text/javascript"></script>
{% endblock %}


{% block content %}

<div class="speakers-header">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1 uk-text-center">
        <h1>Dona Ahora</h1>
      </div>
    </div>
  </div>
</div>


<div class="speakers">
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-text-center-small">
      <div class="uk-width-medium-1-2">
        <h2>Razones para convertirte en Charlista</h2>
        <div class="speakers-reasons">
          <div class="uk-grid">
            <div class="uk-width-medium-1-4">
              <i class="uk-icon-female"></i>
            </div>
            <div class="uk-width-medium-3-4">
              <h3>Estas creando un mejor país con tu donación.</h3>
              <p>En META creemos que el futuro de nuestro país depende profundamente de nuestra capacidad de adaptarnos los cambios tecnológicos.</p>
            </div>
          </div>
          <div class="uk-grid">
            <div class="uk-width-medium-1-4">
              <i class="uk-icon-child"></i>
            </div>
            <div class="uk-width-medium-3-4">
              <h3>Puedes reclutar los mejores ingenieros de software del país</h3>
              <p>Al donar puedes ser uno de los sponsors de la organización que forma los desarrolladores de software del país con las mejores prácticas de la industría.</p>
            </div>
          </div>
          <div class="uk-grid">
            <div class="uk-width-medium-1-4">
              <i class="uk-icon-globe"></i>
            </div>
            <div class="uk-width-medium-3-4">
              <h3>Recibes ofertas y tickets gratuitos para los eventos pagados de la comunidad</h3>
              <p>La comunidad realiza congresos y actividades durante el año, tus empleados pueden verse beneficiados con oportunidades de formación de clase mundial.</p>
            </div>
          </div>
          <div class="uk-grid">
            <div class="uk-width-medium-1-4">
              <i class="uk-icon-book"></i>
            </div>
            <div class="uk-width-medium-3-4">
              <h3>Nos ayudas a alcanzar mas personas</h3>
              <p>Cada año la comunidad realiza diversas actividades en multiples partes del país, con tu aporte nos ayudas a alcanzar a personas que no tendrían esa oportunidad de otra manera.</p>
            </div>
          </div>
        </div>

      </div>
      <div class="uk-width-medium-1-2">
        <iframe src="https://donorbox.org/embed/meta-community" height="685px" width="100%" style=",ax-width:500px; min-width:310px" seamless="seamless" id="dbox-form-embed" name="donorbox" frameborder="0" scrolling="no"></iframe>
      </div>
    </div>
  </div>
</div>


{% endblock %}
