{% extends "views/base.html" %}


{% block content %}

<div class="events-header">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1 uk-text-center">
        <h1>Proximos Eventos</h1>
      </div>
    </div>
  </div>
</div>

<div class="events">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      {% for event in events %}
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">{{ formatDate('MMM', event.date) }}</span>
            <span class="events-day">{{ formatDate('DD', event.date) }}</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>{{event.title}}</h3>
            <p>{{event.description|truncate(256)}}</p>
          </div>
        </div>
      </div>
      {% else %}
      <h3>No hay eventos registrados</h3>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
