{% extends "views/base.html" %}


{% block content %}

<div class="events-header">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1 uk-text-center">
        <h1>Proximos Eventos</h1>
      </div>
    </div>
  </div>
</div>

<div class="events">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>Javascript Dominicana</h3>
            <h4>A promising talk</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>Python Dominicana</h3>
            <h4>The Python Object Model</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>PyLadies Dominicana</h3>
            <h4>Mujeres TIC</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>UI/UX Dominicana</h3>
            <h4>Why is UI/UX important</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>UI/UX Dominicana</h3>
            <h4>Why is UI/UX important</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>UI/UX Dominicana</h3>
            <h4>Why is UI/UX important</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
