{% extends "views/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="hero uk-height-viewport">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1">

        <section class="rw-wrapper">
  				<h2 class="rw-sentence">
  					<span>Creando la siguiente generación de</span>
  					<div class="rw-words rw-words-1">
  						<span>Makers</span>
  						<span>Developers</span>
  						<span>Emprendedores</span>
  					</div>
  				</h2>
			</section>

      </div>
    </div>
  </div>
</div>

<div class="why">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1 uk-text-center">
        <h2>¿Porque la Enseñanza de Tecnología?</h2>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <i class="uk-icon-globe"></i>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>El futuro de las naciones</h3>
            <p>En el siglo 21 las carreras de mayor impacto estan unidas a la tecnolog&iacute;a. La programaci&oacute;n es una parte vital de ello. Los pa&iacute;ses mas avanzados seran aquellos que puedan utilizar la programaci&oacute;n y el software para mejorar su estructura social.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <i class="uk-icon-female"></i>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>Mayor participacion femenina</h3>
            <p>El desarrollo de software empodera tanto a mujeres como a hombres en la creaci&oacute;n un mundo mejor. La meta comunidad crea espacios seguros para la integraci&oacute;n de las mujeres en las carreras de tecnolog&iacute; a a trav&eacute;s de talleres, cursos y mentorias</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <i class="uk-icon-book"></i>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>Es la nueva educación</h3>
            <p>En un mundo cada vez mas digital, el uso de la tecnolog&iacute;a y programaci&oacute;n es la nueva literacia b&aacute;sica. Cada a&ntilde;o mas y mas trabajos son automatizados, dejando solo trabajos que usan tecnolog&Iacute;a en su lugar.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <i class="uk-icon-child"></i>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>Empodera a la nueva generacion</h3>
            <p>Esta comunidad es el producto del trabajo voluntario de profesionales del software que desean ver altos estandares y crear nuevas oportunidades para los nuevos profesionales del area.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hp-cta">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-2 uk-width-small-1-1">
        <h2>Dona ahora y ayudanos a construir el futuro</h2>
        <p>Cada donacion nos ayuda a alcanzar a mas jovenes profesionales y capacitarlos para el futuro.</p>
        <a href="/donations" class="uk-button btn-blue">Dona ahora</a>
      </div>
    </div>
  </div>
</div>

<div class="events">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1 uk-text-center">
        <h2>Proximos Eventos</h2>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>Javascript Dominicana</h3>
            <h4>A promising talk</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>Python Dominicana</h3>
            <h4>The Python Object Model</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>PyLadies Dominicana</h3>
            <h4>Mujeres TIC</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
      <div class="uk-width-medium-1-2 uk-margin-large-bottom uk-text-center-small">
        <div class="uk-grid">
          <div class="uk-width-medium-1-4">
            <span class="events-month">Ene</span>
            <span class="events-day">08</span>
          </div>
          <div class="uk-width-medium-3-4">
            <h3>UI/UX Dominicana</h3>
            <h4>Why is UI/UX important</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis inventore aperiam nesciunt, repellat temporibus.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
