{% extends "views/base.html" %}

{% block title %}Patrocinadores{% endblock %}
{% block content %}
<div class="sponsors-header">
  <div class="uk-container uk-container-center">
    <div class="uk-grid">
      <div class="uk-width-medium-1-1 uk-text-center">
        <h1>Patrocinadores</h1>
      </div>
    </div>
  </div>
</div>

<div class="sponsors">
  <div class="uk-container uk-container-center">
    <div class="uk-grid uk-vertical-align uk-margin">
      <div class="uk-width-small-1-1 uk-text-center">
        <h2>Estamos aquí gracias al auspicio de nuestros patrocinadores</h2>
      </div>
      {% for sponsor in sponsors %}
      <div class="uk-width-small-1-2 uk-width-medium-1-3 uk-text-center">
        <a href="{{sponsor.website}}"><img src="{{sponsor.logo}}" alt="{{sponsor.name}}"></a>
      </div>
      {% endfor %}
      Conviertete en patrocinador <a href="./donations">haciendo click aquí</a>
    </div>
  </div>
</div>

{% endblock %}
