
////////////////////////////////
		//Variables//
////////////////////////////////

// Colors

$black: #000;
$white: #fff;
$blue: #00ADBC;

// Fonts

$font-body: 'Lato', sans-serif;

// Breakpoints

$xs: 600px;
$sm: 769px;
$md: 961px;
$lg: 1170px;

////////////////////////////////
		//General//
////////////////////////////////

html {
	font: normal 16px $font-body;
	line-height: 1.4;
}

body {
	font-weight: normal;
	color: $black;
	line-height: 1.4;
	font-family: $font-body;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-body;
	line-height: 1.4;
	font-weight: bold;
}

.uk-button {
	text-shadow: 0 0 0;
}

.btn-blue {
		background: $blue;
		color: $white;
		font-size: 20px;
		padding: 10px 20px;
		&:hover {
			background: darken($blue, 5%);
			color: $white;
		}
}

a {
	color: $blue;
	&:hover {
		color: $blue;
	}
}

i {
	color: $blue;
	line-height: 1;
	// -webkit-text-stroke: 2px $blue;
	// -webkit-text-fill-color: transparent;
}

////////////////////////////////
		//Navbar//
////////////////////////////////

.uk-navbar {
	background: $white;
	padding: 20px 0px;
}

.uk-navbar-nav {
	li {
		a {
			text-shadow: none;
			display: block;
			font-size: 18px;
			font-weight: bold;
			@media (max-width: $md) {
				font-size: 14px;
			}
		}
		&:hover,
		&:focus {
			a {
				background-color: transparent;
				border-color: transparent;
				color: $blue;
			}
		}
	}
}

.uk-navbar-brand {
	font-weight: bold;
	font-size: 24px;
	margin-top: 2px;
}

#off-menu {
	.uk-offcanvas-bar {
		background: $blue;
		.uk-nav-offcanvas {
			border-bottom: 0px;
			box-shadow: 0px 0px 0px;
		}
		li {
			a {
				text-shadow: 0px 0px 0px;
				color: $white;
				box-shadow: 0px 0px 0px;
				border-top: 0px;
				&:hover {
					background: darken($blue, 10%);
				}
			}
		}
	}
}

////////////////////////////////
		//Footer//
////////////////////////////////

.footer-cta {
	padding: 50px 0px;
	text-align: right;
	background: url('../img/footer-cta.jpg') no-repeat 0px -130px;
	background-size: cover;
	@media (max-width: $sm) {
		background-size: auto;
	}
	h2 {
		font-size: 36px;
		color: $white;
		text-shadow: 0px 1px 1px #666;
	}
	p {
		color: $white;
		text-shadow: 0px 1px 1px #666;
	}
}

.footer-sponsors {
	padding: 50px 0px;
	h2 {
		margin-bottom: 50px !important;
		font-size: 36px;
	}
	img {
		width: 200px;
		height: auto;
		@media (max-width: $sm) {
			margin-bottom: 30px
		}
	}

	.sponsor-slider {
		li {
			img {
				filter: grayscale(1);
			}
		}
	}
}

footer {
	background: #1C2326;
	padding: 50px 0px;
	h3 {
		color: $white;
	}
	form {
		button {
			float: right;
		}
	}
	.footer-newsletter {
		input {
			margin-bottom: 10px;
		}
		.btn-blue {
			float: right;
			border-radius: 5px;
			color: $white;
		}
	}
	.footer-linklist {
		@media (max-width: $sm) {
			margin-bottom: 30px !important;
		}
		ul {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				padding: 5px 0px;
				a {
					color: $white;
				}
			}
		}
	}
}

////////////////////////////////
		//Homepage//
////////////////////////////////

.hero {
	background: url('../img/hero.jpg') no-repeat;
	background-size: cover;
	height: 100vh;

	h1 {
		color: $white;
		text-shadow: 0px 1px 1px #666;
		font-size: 45px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		@media (max-width: $sm) {
			font-size: 30px;
		}
	}
}

// Animation Style

.hero {
	.rw-wrapper{
		width: 80%;
		position: relative;
		padding: 10px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.rw-sentence{
		margin: 0;
		text-align: left;
	}
	.rw-sentence span{
		color: $white;
		font-size: 200%;
		font-weight: normal;
	}
	.rw-words{
		display: inline;
		margin-left: 10px;
	}
	.rw-words-1 span {
		position: absolute;
		opacity: 0;
		overflow: hidden;
		color: $white;
		border-bottom: 3px solid $white;
		-webkit-animation: rotateWord 6s linear infinite 0s;
		-ms-animation: rotateWord 6s linear infinite 0s;
		animation: rotateWord 6s linear infinite 0s;
	}
	.rw-words-1 span:nth-child(2) {
	    -webkit-animation-delay: 2s;
		-ms-animation-delay: 2s;
		animation-delay: 2s;
		color: $white;
	}
	.rw-words-1 span:nth-child(3) {
	    -webkit-animation-delay: 4s;
		-ms-animation-delay: 4s;
		animation-delay: 4s;
		color: $white;
	}

	@-webkit-keyframes rotateWord {
	    0% { opacity: 0; }
	    2% { opacity: 0; -webkit-transform: translateY(-30px); }
		5% { opacity: 1; -webkit-transform: translateY(0px);}
	    17% { opacity: 1; -webkit-transform: translateY(0px); }
		20% { opacity: 0; -webkit-transform: translateY(30px); }
		80% { opacity: 0; }
	    100% { opacity: 0; }
	}
	@-ms-keyframes rotateWord {
	    0% { opacity: 0; }
	    2% { opacity: 0; -ms-transform: translateY(-30px); }
		5% { opacity: 1; -ms-transform: translateY(0px);}
	    17% { opacity: 1; -ms-transform: translateY(0px); }
		20% { opacity: 0; -ms-transform: translateY(30px); }
		80% { opacity: 0; }
	    100% { opacity: 0; }
	}
	@keyframes rotateWord {
	    0% { opacity: 0; }
	    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
		5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
	    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
		20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
		80% { opacity: 0; }
	    100% { opacity: 0; }
	}
	@media screen and (max-width: 768px){
		.rw-sentence { font-size: 18px; }
	}
	@media screen and (max-width: 320px){
		.rw-sentence { font-size: 9px; }
		.rw-words { display:block; margin:0; }
	}
}

.why {
	padding: 50px 0px;
	h2 {
			font-size: 36px;
			margin-bottom: 50px !important;
	}
	h3 {
		font-size: 28px;
	}

	i {
		font-size: 130px;
	}
}

.hp-cta {
	padding: 50px 0px;
	background: url('../img/hp-cta.jpg') no-repeat 0px -300px;
	background-size: cover;
	@media (max-width: $sm) {
		background-size: auto;
	}
	h2 {
		font-size: 36px;
		color: $white;
		text-shadow: 0px 1px 1px #666;
	}
	p {
		color: $white;
		text-shadow: 0px 1px 1px #666;
	}
}

.events {
	padding: 50px 0px;
	h2 {
			font-size: 36px;
			margin-bottom: 50px !important;
	}
	h3 {
		font-size: 28px;
		margin: 0;
	}
	h4 {
		font-size: 24px;
		margin: 0;
	}
	.events-month {
		display: block;
		font-size: 50px;
		font-weight: bold;
		text-align: center;
		@media (max-width: $sm) {
			display: inline-block;
			margin-right: 10px;
		}
	}
		.events-day {
			display: block;
			font-size: 60px;
			font-weight: bold;
			color: $blue;
			text-align: center;
			@media (max-width: $sm) {
				display: inline-block;
				font-size: 50px;
			}
		}
}

////////////////////////////////
		//Events//
////////////////////////////////

.events-header, .sponsors-header {
	padding: 70px 0px;
	background: url('../img/events.jpg') no-repeat 0px -200px;
	background-size: cover;
	h1 {
		text-shadow: 0px 1px 1px #666;
		color: $white;
		font-size: 50px;
	}
}

////////////////////////////////
		//Sponsors//
////////////////////////////////
.sponsors {
	padding: 50px 0px;
	h2 {
			font-size: 36px;
			margin-bottom: 50px !important;
	}
	h3 {
		font-size: 28px;
		margin: 0;
	}
	h4 {
		font-size: 24px;
		margin: 0;
	}
	img {
		-webkit-filter: grayscale(1);
		-webkit-filter: grayscale(100%);
		filter: gray;
		filter: grayscale(100%);
	}
}

////////////////////////////////
		//Speakers//
////////////////////////////////

.speakers {
	padding: 50px 0px;
	form {
		input[type="checkbox"] {
			margin-right: 10px;
		}
	}
	.speakers-reasons {
		@media (max-width: $sm) {
			margin-bottom: 30px;
		}
		h3 {
			font-size: 20px;
		}
		i {
			font-size: 130px;
		}
	}

	.speaker-form {
		@media (max-width: $sm) {
			margin-bottom: 50px;
		}
	}

}

.speakers-header {
	padding: 70px 0px;
	background: url('../img/events.jpg') no-repeat 0px -200px;
	background-size: cover;
	@media (max-width: $sm) {
		min-height: 100px;
		background: url('../img/events.jpg') no-repeat 0px -200px;
	}
	h1 {
		text-shadow: 0px 1px 1px #666;
		color: $white;
		font-size: 50px;
	}
}

////////////////////////////////
		//404//
////////////////////////////////

.page-404 {
	padding: 50px 0px;
	h2 {
		margin-bottom: 50px;
	}
}

////////////////////////////////
		//Contact//
////////////////////////////////

.contact {
	padding: 50px 0px;
	h2 {
		margin-bottom: 20px !important;
	}
	.uk-button {
		float: right;
	}
	textarea {
		height: 100px;
	}
}
